xsd/politics.xml

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
  <xs:element name="politics">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="candidate" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="party" type="xs:string"/>
              <xs:element name="age" type="xs:int"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    </xs:element>
</xs:schema>