xsd/subject.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns="https://www.example.com"
elementFormDefault="qualified">

<xs:element name="subject">
  <xs:complexType>
    <xs:sequence>

      <xs:element name="course" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>

            <xs:element name="subjectName" type="xs:string"/>
            <xs:element name="instructor" type="xs:string"/>
            <xs:element name="units" type="xs:int"/>

          </xs:sequence>
        </xs:complexType>
      </xs:element>

    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>